---
import Window from "@components/Window.astro";
import Layout from "../layouts/Layout.astro";
import Button from "@components/Button.astro";
import applescript from "@assets/icons/applescript.png";
import camera from "@assets/icons/camera.png";
import moon from "@assets/icons/moon.png";
import robot from "@assets/icons/robot.png";
import stack from "@assets/icons/stack.png";
import PixelImg from "@components/PixelImg.astro";
import home from "@assets/icons/home.png";
import IconGrid from "@components/IconGrid.astro";
---]

<Layout
  title="Revolution Reaction Reform Apple II"
  description="How the Apple II Caused Revolution, Reaction, and Reform"
>
  <Window title="Apple II" close="/desktop">
    <h1>
      <PixelImg src={home.src} width={28} height={25} alt="" />Home Stack
      <PixelImg src={home.src} width={28} height={25} alt="" />
    </h1>
    <p>
      How the Apple II Caused Revolution, Reaction, and Reform.
    </p>

    <h2>Projects</h2>
    <IconGrid>
     
      <Button title="Page 1" icon={applescript.src} link="/applescript" />
      <Button title="Page 2" icon={camera.src} link="/camera" />
      <Button title="Page 3" icon={moon.src} link="/moon" />
      <Button title="Page 4" icon={robot.src} link="/robot" />
      <Button title="HyperSite" icon={stack.src} link="/hypersite" />
    </IconGrid>
  </Window>
</Layout>
<style>
  h1,
  h2 {
    font-family: var(--title-font);
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    text-align: center;
  }
  p {
    font-family: var(--body-font);
    font-size: 18px;
    text-align: center;
  }
  .about-me {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }

  a:link,
  a:visited {
    color: inherit;
  }
</style>
